asgiref==3.8.1
Django==5.2.7
django-admin-interface==0.30.1
django-colorfield==0.14.0
Pillow==10.3.0
channels==4.0.0


pandas==2.2.2

openpyxl==3.1.3

# Render 웹 서버 실행용
gunicorn

# Render PostgreSQL DB 연결용
psycopg2-binary
dj-database-url

# 정적 파일(CSS/JS) 처리용
whitenoise

# Cloudflare R2 (파일 저장소) 연결용
django-storages
boto3