<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-g">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나만의 CBT 사이트</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            {# 로그인 상태일 때 #}
            <p>
                <strong>{{ user.username }}</strong>님 환영합니다. | 
                <a href="{% url 'accounts:logout' %}">로그아웃</a>
            </p>
        {% else %}
            {# 로그아웃 상태일 때 #}
            <p>
                <a href="{% url 'accounts:login' %}">로그인</a> | 
                <a href="{% url 'accounts:signup' %}">회원가입</a>
            </p>
        {% endif %}
        <hr>
    </header>

    <main>
        {# 다른 페이지의 실제 내용이 이 부분에 채워집니다. #}
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>