{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Django administration') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'quiz:my_page' %}">{% trans 'View site' %}</a> /

    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>

    {% if user.is_staff %}
        | <a href="{% url 'quiz:manager_dashboard' %}" style="color: #ffc107; font-weight: bold; text-decoration: none;">
            🔙 매니저 센터
          </a>
    {% endif %}

    | <a href="{% url 'quiz:dashboard' %}">전체 통계</a>

    | <a href="{% url 'quiz:upload_quiz' %}">문제 대량 업로드</a>

    {% if user.is_superuser %}
        | <a href="{% url 'quiz:export_student_data' %}?process_id=ALL" style="font-weight: bold;">
            📥 전체 데이터 다운로드
          </a>
    {% endif %}

    {% if user.is_authenticated and user.is_staff %}
        | <a href="{% url 'quiz:pl_dashboard' %}" style="color: #adff2f;">PL 대시보드</a>
    {% endif %}

{% endblock %}